/* ul */
.js-gallery {
  display: flex;
}

/* li */
.js-gallery__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* img */
.js-gallery__img {
  width: auto;
  height: 150px;
  margin-right: 10px;
}

.js-div {
  padding: 30px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
